.container {
  position: relative;
  max-width: 1440px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 170px 80px 100px;
  overflow: hidden;
  background-color: #f4f5f9;
  border-right: 1px solid #42567a19;
  border-left: 1px solid #42567a19;

  &::after {
    position: absolute;
    top: 0;
    right: 50%;
    width: 1px;
    height: 100%;
    background-color: #42567a19;
    content: "";
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .heading {
    max-width: 353px;
    color: #42567a;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
  }

  .top {
    height: 100%;
  }

  @media screen and (max-width: 760px) {
    padding: 60px 20px 20px;
    border: none;

    &::after {
      content: none;
    }

    .heading {
      position: static;
      max-width: 123px;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
    }
  }
}
