.wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1440px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    border-left: 1px solid rgba(66, 86, 122, 0.1);
    border-right: 1px solid rgba(66, 86, 122, 0.1);
}

.wrapper::before,
.wrapper::after {
    content: "";
    position: absolute;
    background-color: rgba(66, 86, 122, 0.1);
}

.wrapper::before {
    top: 44.44%;
    width: 100%;
    height: 1px;
}

.wrapper::after {
    top: 0;
    right: 50%;
    width: 1px;
    height: 100%;
}


.heading {
    padding-top: 170px;
    padding-left: 80px;
    max-width: 353px;
    color:  #42567A;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
}

.top {
    height: 100%;
}
