.slider-container {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease;
  margin: 0 auto;
  min-height: 150px;
  padding-left: 80px;
  padding-right: 80px;

  .swiper {
    transition: all .5s ease;
  }

  .year {
    color: #3877EE;
    font-family: Bebas Neue, sans-serif;
    font-size: 25px;
    line-height: 120%;
  }

  .text {
    margin-top: 15px;
    color: #42567A;
    font-size: 20px;
    line-height: 30px;
  }

  .swiper-button {
    position: absolute;
    z-index: 1000;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: #FFF;
    box-shadow: 0 0 15px rgba(56, 119, 238, 0.10);

    opacity: 1;
    transition: opacity .3s ease;

    svg {
      width: 5px;
      height: 10px;
    }

    &::after, &::before {
      content: none;
    }

    .swiper-button-prev {
      left: -120px;
    }

    .swiper-button-next {
      right: -120px;
    }

    &-disabled {
      opacity: 0 !important;
    }
  }

  .hidden {
    opacity: 0;
  }

  .visible {
    animation: fade-in 0.5s ease;
  }
}



@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
